[alias]
  l = log --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  d = diff --stat --color
  co = checkout
[advice]
  statusHints = false

