[include]
  path = ~/.gitconfig.local
[core]
  ignorecase = false
  autocrlf = false
  excludesfile = ~/.gitexcludes
[merge]
  tool = vimdiff
[mergetool]
  keepBackup = false
[i18n]
  filesEncoding = utf-8
[alias]
  l = log --graph --pretty=format:'%C(bold yellow)%h%Creset%C(bold red)%d%Creset %s %C(bold green)(%cr) %C(bold cyan)<%an>%Creset' --abbrev-commit
  d = diff --stat --color
  s = status
  co = checkout
[advice]
  statusHints = false
[color]
  # This is the default setting in Git ≥ 1.8.4.
  ui = auto
[guitool "delete"]
  cmd = rm $FILENAME
  needsfile = yes
  noconsole = yes
[guitool "bash"]
  # try 'start' (Windows), else we are on some sort of unix
  cmd = cd `echo $FILENAME | sed s/[^/]*$//g`  && start bash --login > /dev/null 2>&1 || bash
  needsfile = yes
  noconsole = yes

