[user]
  name = Justin M. Keyes
  #email = foo@bar.com
[core]
  #editor = /foo/bar/nvim
  ignorecase = false
  autocrlf = false
  excludesfile = ~/.gitexcludes
  # recommended SHA minimum length  https://lkml.org/lkml/2013/9/30/365
  abbrev = 12
  # Enable parallel index preload for some operations (diff, status).
  preloadindex = true
  # improve performance (requires msysgit 1.9.4+)
  fscache = true
  # set tab width for pager (affects 'git diff')
  pager = less -x1,5
  trustctime = false
  askPass =
[gui]
  gcwarning = false
[branch]
  autosetuprebase = always
[pull]
  rebase = true
[push]
  default = current
[diff]
  algorithm = patience
[diff "sqlite3"]
  # To use this:
  #   echo '*.db binary diff=sqlite3 merge=keepTheir' >> .gitattributes
  # https://stackoverflow.com/a/38271631
  textconv = "f() { sqlite3 -noheader -line \"$@\" .dump; }; f"
  binary = true
[merge]
  tool = vimdiff
[mergetool]
  prompt = false
  keepBackup = false
[mergetool "vimdiff"]
  cmd = $EDITOR -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w|only|diffoff!'
[i18n]
  filesEncoding = utf-8
[alias]
  #l = log --all --graph --oneline --decorate
  l  = log --graph --pretty=format:'%C(yellow)%h%C(bold white red)%d%Creset %s %C(bold green)%cr %Creset%C(white)%an' --abbrev-commit --date=relative
  ll = log --stat --decorate --source -p
  #diff-highlight: perl script from git 'contrib'
  dh = "!f() { git diff --color=always \"$@\" | diff-highlight | less -R; }; f"
  b  = branch -vv
  recent = "!git branch --sort=-committerdate | head -n 10 ; git branch --sort=-committerdate -a | grep 'justinmk' | sed 's,remotes/,,' | head -n 10"
  s  = !git status -sb
  co = checkout
  rl = log --walk-reflogs --boundary --pretty=format:\"%ci %h %gd %gs\"
  ri = "!sh -c 't=\"${1:-master}\"; s=\"${2:-HEAD}\"; mb=\"$(git merge-base \"$t\" \"$s\")\"; if test \"x$mb\" = x ; then o=\"$t\"; else lm=\"$(git log -n1 --merges \"$t..$s\" --pretty=%H)\"; if test \"x$lm\" = x ; then o=\"$mb\"; else o=\"$lm\"; fi; fi; test $# -gt 0 && shift; test $# -gt 0 && shift; git rebase --interactive --autosquash \"$o\" \"$@\"'"
[advice]
  statusHints = false
[color]
  # default in Git ≥ 1.8.4
  ui = auto
[color "branch"]
  current   = bold white green
  local     = bold yellow
  remote    = bold magenta
  upstream  = bold cyan
[color "status"]
  # staged changes
  added     = bold green
  updated   = bold white green
  # un-staged changes
  changed   = bold yellow
  untracked = bold cyan
  nobranch  = bold red white
[color "diff"]
  meta = bold cyan
  frag = bold magenta
  old  = bold red
  new  = bold green
  #NOTE: whitespace is highlighted only on new lines, not removed/old.
  #Use "git diff -R" to reverse the diff to see removed whitespace.
  whitespace = bold red white

[include]
  path = ~/.gitconfig.local
#[alias]
#  #you can re-define existing aliases.
#  em = !/c/opt/vim/vim `git df`

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
