" https://github.com/JetBrains/ideavim#executing-ide-actions
" Find IDE actions by name pattern:
"     :actionlist [pattern]

set ignorecase
set smartcase
set hlsearch

nnoremap z,al :actionlist 

nnoremap gqal :action ReformatCode<CR>
nnoremap [q :action GotoPreviousError<CR>
nnoremap ]q :action GotoNextError<CR>
nnoremap g; :action JumpToLastChange<CR>
nnoremap g, :action JumpToNextChange<CR>
nnoremap + :action ToggleDistractionFreeMode<CR>

" navigation
" <M-?> find actions...
" SHIFT-SHIFT find anything
nnoremap <A-o>    :action FileStructurePopup<CR>
nnoremap gr       :action ShowUsages<CR>
nnoremap gD       :action GotoImplementation<CR>

" build/test
nnoremap !t       :action ShowRecentTests<CR>

" debugger
nnoremap <Delete> :action ToggleLineBreakpoint<CR>
nnoremap <Left> :action StepOut<CR>
nnoremap <Right> :action StepOver<CR>
nnoremap <A-Right> :action Resume<CR>
nnoremap <F5> :action Resume<CR>
nnoremap <Up> :action Debugger.FramePanelPopup<CR>
nnoremap <Down> :action StepInto<CR>
nnoremap <A-Down> :action SmartStepInto<CR>
nnoremap <A-d> :action JavaDebuggerActions<CR>
